* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

/* nav top  */
nav.top {
    position: relative;
    color: white;
    display: flex;    
    justify-content: flex-end;
    margin-bottom: 20px;

}

.info, .fa-expand-arrows-alt {
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.4);
    margin: 0 5px;
}

 /* main  */
div.main {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.pinco {
    position: relative;
}

div.pinco img {
    width: 200px;
    padding: 10px 3px;
}

div.abs {
    position: absolute;
    bottom: 13px;
    left: 3px;    
    color: white;
    background-color: rgba(51, 51, 51, 0.5);
    font-size: 0.8em;
    padding: 3px 5px;
}

/* nav bottom  */
nav.bottom {
    background-color: #333;
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
}

ul li {
    font-size: 15px;
    color: white;
    padding: 10px 10px 5px;
}

ul:first-child {
    flex-basis: 200px;
}

ul:last-child {
    flex-basis: 150px;
    justify-content: flex-end;
}

ul li:only-child {
    background-color: #555;
    color: red;
    line-height: 42px;
}

li i.fas {
    display: block;
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 5px;
}

.fa-share-square {
    color: yellowgreen;
}

i.arrow {
    color: white;
    line-height: 50px;

}